body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#jumbotron {
    background-image: url("../images/back13.jpg"); 
    /* background-color: lightgoldenrodyellow; */
    font-family: 'Courgette', cursive;
    font-size: 18px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px;
    border-color: lightgrey;
    border-style: solid;

}

#logo {
    width: 75%;
    /* padding: 5px; */
    
}

#navbar {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    background: lightslategray;
    border: 1px;
    border-color: lightgrey;
    border-style: solid;
    font-family: 'Courgette', cursive;
}

#carouselExampleControls {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px; */
    /* border-color: lightgrey; */
    /* border-style: solid; */
    font-family: 'Courgette', cursive;
    font-size: 25px;
    
}

.carousel-inner {
    border-radius: 2%;
}

.img-fluid {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-tips {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#popular {
    padding-top: 15px;
    margin-left: 20px;
}

#jumbotron p {
    color: black;
}

#jumbotron h1 {
    color: black;
}

footer {
    width: 70%;
    background-color: rgb(228, 227, 227);
    text-align: center;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    border: 1px;
    border-color: lightgrey;
    border-style: solid;

}
/* #popularcategory {
    margin: auto;
} */

#masthead #sample {
    height: 50%;
    display: block;
}

/*small image blocks text*/
.caption {
    text-align: center;
}

.carousel-caption {
    background-color: white;
    opacity: 0.5;
    color: black;
    height: 60px;

}

#navbarTogglerDemo01 {
    background-color: rgb(236, 235, 235);
    padding-left: 10px;
}

@media only screen and (max-width: 1100px) {
    #jumbotron {
        font-size: 14px;
    }

    #jumbotron h1 {
        font-size: 26px;
    }

    #jumbotron h3 {
        font-size: 22px;
    }

    #logo {
        width: 100%;
    }

    #navbar {
        height: 60px;
        
    }

    #navbarSupportedContent {
        display: block !important;
    }

    
    

}








