body, html{
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url("../images/background2.jpg");
    height: cover;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
} /** made bg image to cover the entire width of the screen **/

h1, h5, p {
    margin: 5px;
    font-family: 'Courgette', cursive;
}

h1 {
    margin-right: 15px;
}

.carousel-caption h3 {
    font-family: 'Courgette', cursive;
}

.navbar {
    font-family: 'Courgette', cursive;
    border: 1px;
    border-color: lightgrey;
    border-style: solid;
    opacity: 0.7;
    z-index: 2;
}

#carouselExampleIndicators {

    /* width: 60%; */
    display: left;
    /* margin-left: auto;
    margin-right: auto; */
    z-index: 1;
    margin-top: 8%;

}

.carousel-inner {
    border-radius: 2%;
}

.card {
    display: right;
    margin-left: auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);}

.card-title {
    font-family: 'Courgette', cursive;
    text-shadow: 0 0 3px rgb(121, 233, 88);

}

#link-button {
    font-family: 'Courgette', cursive;

}

#random-recipes {
    background-color: whitesmoke; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courgette', cursive;
    border: 1px;
    border-color: lightgrey;
    border-style: solid;
    padding: 10px;

    /* opacity: 0.7; */

   
}

#row1, #row2, #row3 {
margin-top: 30px;
}

.footer {
    background-color: whitesmoke;
    text-align: center;
    padding: 0;
    border: 1px; 
    border-color: lightgrey;
    border-style: solid;
    opacity: 0.7;

}




/* @media only screen and (max-width: 1100px) {
    #jumbotron {
        font-size: 14px;
    }

    #jumbotron h1 {
        font-size: 26px;
    }

    #jumbotron h3 {
        font-size: 22px;
    }


    #navbar {
        height: 60px;
        
    }

    #navbarSupportedContent {
        display: block !important;
    }

    
    

} */

/***************** lines by Jai *******************/
.table-search {
   /* text-align: center;*/
    background-color: white;
    /* opacity: 0.65; */
    font-family: 'Courgette', cursive;
}

.carousel-inner h3 {
    background-color: white;
    color: rgb(49, 170, 49);
    opacity: 0.5;
}
/***************** lines by Jai *******************/

img {
    margin-top: 50px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    margin-left: 50px;
}

#recipe-name {
    font-size: 30px;
    float: right;
}





