body {
    background-image: url("../images/background2.jpg");
    
}
#jumbotron {
    background-image: url("../images/back13.jpg"); 
    /* background-color: lightgoldenrodyellow; */
    font-family: 'Courgette', cursive;
    font-size: 18px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px;
    border-color: lightgrey;
    border-style: solid;

}

#logo {
    width: 75%;
    padding: 5px;
    
}

#navbar {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    background: lightslategray;
    border: 1px;
    border-color: lightgrey;
    border-style: solid;
    font-family: 'Courgette', cursive;
}

#carouselExampleControls {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px; */
    /* border-color: lightgrey; */
    /* border-style: solid; */
    font-family: 'Courgette', cursive;
    font-size: 25px;
    
}

.carousel-inner {
    border-radius: 2%;
}

.img-fluid {
    border-radius: 20%;

}

#popularcategory {
    display: center;
}

#masthead #sample {
    height: 50%;
    display: block;
}


.caption {
    text-align: center;

}






